html {
    height: 100%;
}
body {
    height: 100%;
    padding: 24px;
}

h2 {
    padding: 12px;
}

#chart {
    height: calc(100% - 200px) !important;
    //background-color: pink;
    div {
        height: calc(100% - 48px) !important;
    }
}

#svg_test {
    width: 100%;
    height: 400px;

    path {
        fill: none;
        stroke: #000;
        stroke-width: 3px;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

}